</article>
</div>
</div>
<div class="fixed-btn">
    <a class="go-top hide-go-top" href="#"> <i class="fa fa-angle-up"></i></a>
    <a class="qrcode" data-target="#bottom-qrcode" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-qrcode"></i></a>
    <a class="writer" href="/writer#/" data-toggle="tooltip" data-placement="left" title="写篇文章"><i class="fa fa-pencil"></i></a>
    <!-- qrcode modal -->
    <div id="bottom-qrcode" class="modal panel-modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <h4>下载简书移动应用</h4>
        <div class="panel-body"><img src="http://cdn0.jianshu.io/assets/app-page/download-app-qrcode-85008f146773a25ce86bcc4d7858af68.png" alt="Download app qrcode" /></div>
    </div>
</div>

<!--<script id="dsq-count-scr" src="//n-blogs.disqus.com/count.js" async></script>-->
</body>
</html>