</article>
</div>
<% if (!user) { %>
<div class="navbar-user">

    <a class="login" data-signup-link="true" data-toggle="modal" href="/reg">
        <i class="fa fa-user"></i> 注册
    </a>    <a class="login" data-signin-link="true" data-toggle="modal" href="/login">
        <i class="fa fa-sign-in"></i> 登录
    </a>    <a class="daytime set-view-mode pull-right" href="javascript:void(0)"><i class="fa fa-moon-o"></i></a>
</div>
<% } %>



<% if (user) { %>
<div class="navbar-user">
    <a class="user avatar" data-toggle="dropdown" href="javascript:void(0)">
        <img src="images/14-75d944a989bbbd5b92a639698c9b4a3c.jpg" alt="14"> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="dLabel">
        <li>
            <a href="/writer#/"><i class="fa fa-pencil"></i> 写文章</a>
        </li>
        <li>
            <a target="_blank" href="/users/304734d3ba47"><i class="fa fa-user"></i> 我的主页</a>
        </li>
        <li>
            <a href="/favourites">
                <i class="fa fa-heart"></i> 我喜欢的
            </a>  </li>
        <li>
            <a href="/bookmarks">
                <i class="fa fa-bookmark"></i> 我的收藏
            </a>  </li>
        <li>
            <a href="/notifications">
                <i class="fa fa-bell"></i> 提醒
            </a>  </li>
        <li>
            <a href="/chats">
                <i class="fa fa-envelope"></i> 简信
            </a>  </li>
        <li><a href="/settings"><i class="fa fa-cogs"></i> 设置</a></li>
        <li>
            <a href="/wallet">
                <i class="fa fa-credit-card"></i> 钱包
            </a>  </li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href="#"><i class="fa fa-question-circle"></i> 帮助</a>
            <ul class="dropdown-menu">
                <li><a href="http://www.jianshu.com/notebooks/547/latest" target="_blank">帮助中心</a></li>
                <li><a target="_blank" href="/contact">联系我们</a></li>
            </ul>
        </li>
        <li>
            <a rel="nofollow" data-method="DELETE" href="../logout">
                <i class="fa fa-sign-out"></i> 登 出
            </a>  </li>

    </ul>
    <a class="daytime set-view-mode pull-right" href="javascript:void(0)"><i class="fa fa-moon-o"></i></a>
</div>
<% } %>


<!--<script id="dsq-count-scr" src="//n-blogs.disqus.com/count.js" async></script>-->
</body>
</html>