<%-include header %>

<script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
<!-- 引入封装了failback的接口--initGeetest -->
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<div class="container">

	<div class="login-page">
		<div class="logo"><img src="images/img_logo-25ff4bee2e56411470b83c636a7a0dad.png" alt="Img logo"></div>
		<h4 class="title">
              <span>
                <a data-pjax="true" href="/login">登录</a>
                <b>·</b>
                <a class="active" data-pjax="true" href="/reg">注册</a>
              </span>
		</h4>
		<div id="pjax-container">

			<div class="sign-in">
				<form class="form-horizontal" method="post" id="register">
					<input name="utf8" type="hidden" value="✓">
					<input type="hidden" name="authenticity_token" value="Xu8uKrArtiLiHMyp2sCBW8/FxyL+FtMYC6U8C3PleAd6vWfUV4IxhAkfGR3Merbg9RpZS8ZMNiyk4O0d/z0hPw==">

					<p id="signin_errors" class="signin_error hide"></p>



					<div class="input-prepend">
						<span class="add-on"><i class="fa fa-envelope-o"></i></span>
						<input type="email" name="email" id="sign_up_email" value="" class="span2" placeholder="你的邮件地址" />
					</div>

					<div class="input-prepend">
						<span class="add-on"><i class="fa fa-user"></i></span>
						<input type="text" name="name" id="name" class="span2" placeholder="选一个昵称" />
					</div>
					<div class="input-prepend">
						<span class="add-on"><i class="fa fa-unlock-alt"></i></span>
						<input type="password" name="password" id="sign_in_password" class="span2" placeholder="输入密码" />
					</div>

					<div class="input-prepend">
						<span class="add-on"><i class="fa fa-unlock-alt"></i></span>
						<input type="password" name="password-repeat" id="repassword" class="span2" placeholder="确认密码" />
					</div>

					<div id="embed-captcha"></div>
					<p id="wait" class="show">正在加载验证码......</p>
					<p id="notice" class="hide">请先拖动验证码到相应位置</p>


					<button class="ladda-button submit-button" id="embed-submit" data-color="green" type="submit">
						<span class="ladda-label">注 册</span>
					</button>

					<p class="sign_up_msg">点击 “注册” 或下方社交登录按钮，即表示您同意并愿意遵守简书 <a href="http://www.jianshu.com/p/c44d171298ce">用户协议</a> 和 <a href="http://www.jianshu.com/p/2ov8x3">隐私政策</a> 。</p>



				</form></div>

		</div>
		<div class="login-sns">
			<p>您还可以通过以下方式直接登录</p>
			<ul class="login-sns">
				<li class="weibo">
					<a href="/users/auth/weibo"><i class="fa fa-weibo"></i></a>
				</li>
				<li class="qq">
					<a href="/users/auth/qq_connect"><i class="fa fa-qq"></i></a>
				</li>
				<li class="douban">
					<a href="/users/auth/douban"><i class="fa fa-douban"></i></a>
				</li>
				<li class="google">
					<a href="/users/auth/google_oauth2"><i class="fa fa-google-plus"></i></a>
				</li>
				<li class="wechat">
					<a href="/users/auth/wechat"><i class="fa fa-wechat"></i></a>
				</li>
			</ul>
		</div>
	</div>

</div>




<script>
	var handlerEmbed = function (captchaObj) {
		$("#embed-submit").click(function (e) {
			var validate = captchaObj.getValidate();
			if (!validate) {
				$("#notice")[0].className = "show";
				setTimeout(function () {
					$("#notice")[0].className = "hide";
				}, 2000);
				e.preventDefault();
			}
		});



		$("#embed-captcha").hover(function(){
			$(".gt_widget").removeClass("gt_hide").addClass("gt_show")

		},function(){
			if($(".gt_slider_knob").hasClass("moving")){
				$(".gt_widget").removeClass("gt_hide").addClass("gt_show")
			}else{
				setTimeout(function(){
					$(".gt_widget").removeClass("gt_show").addClass("gt_hide")
				},1000)
			}

		})
		// 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
		captchaObj.appendTo("#embed-captcha");
		captchaObj.onReady(function () {
			$("#wait")[0].className = "hide";
			$(".gt_widget").addClass("gt_hide")
		});
		// 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
	};
	$.ajax({
		// 获取id，challenge，success（是否启用failback）
		url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
		type: "get",
		dataType: "json",
		success: function (data) {
			// 使用initGeetest接口
			// 参数1：配置参数
			// 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
			initGeetest({
				gt: data.gt,
				challenge: data.challenge,
				product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
				offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
				// 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
			}, handlerEmbed);
		}
	});
</script>














<%-include footer %>
